# Task 1

<b>1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
print("Jupyter Notebook Installed")

Jupyter Notebook Installed

<b>2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple<br>
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a<br>
comma-separated sequence on a single line.</b>

In [2]:
n = list(range(2000,3201))
def first_prog(n):
    for i in n:
        if (i%7==0) and (i/5 != 0):
            print(i,end=',', flush=True)

In [3]:
first_prog(n)

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

<b>3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name</b>

In [4]:
print("Provide your first Name: ")
user_first_name = input()
print("Provide your Last Name: ")
user_last_name = input()
print(user_first_name[::-1]+ ' '+ user_last_name[::-1])

Provide your first Name:
punit
Provide your Last Name:
nanda
tinup adnan

<b>4. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r_cube

In [5]:
import math

In [6]:
def vol_sphere(diameter):
    vol_sphere = (4/3)*math.pi*(math.pow((diameter/2),3))
    return vol_sphere

In [7]:
vol_sphere(diameter=12)

904.7786842338603

# Task 2

<b> 1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list

In [8]:
numbers=input("provide numbers with commas:")
num_list = numbers.split(',')
num_list

provide numbers with commas:1,3,5,2,3

['1', '3', '5', '2', '3']

<b> 2.Create the below pattern using nested for loop in Python.</b>
   
\* <br>
\* \* <br>
\* \* \* <br>
\* \* \* \* <br>
\* \* \* <br>
\* \* <br>
\*

In [9]:
for i in range(0,4):
    print('* '*i)
for i in range(4,0,-1):
    print('* '*i)

*
* *
* * *
* * * *
* * *
* *
*

In [10]:
for i in range(0,4):
    for j in range(0, i+1):
        print('* ', end="")
    print("\r")
for i in range(4,0,-1):
    for j in range(0, i-1):
        print('* ', end="")
    print("\r")

*
* *
* * *
* * * *
* * *
* *
*

<b>3. Write a Python program to reverse a word after accepting the input from the user.</b>
    
<b>Sample Output:<br></b>
Input word: AcadGild<br>
Output: dilGdacA

In [11]:
word = input("Input word: ")
print("Output:",word[::-1])

Input word: AcadGild
Output: dliGdacA

<b>4. Write a Python Program to print the given string in the format specified in the sample output.</b><br>

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a<br>
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all<br>
its citizens<br>

<b>Sample Output:</b><br>
WE, THE PEOPLE OF INDIA,<br>
having solemnly resolved to constitute India into a SOVEREIGN, !<br>
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC<br>
and to secure to all its citizens<br>

In [12]:
input_string = """WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens"""

In [13]:
intermediate = input_string

In [14]:
print(intermediate)

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [15]:
intermediate = intermediate.replace('INDIA, ','INDIA,\n')
intermediate = intermediate.replace('a\nSOVEREIGN, ','a SOVEREIGN,!\n')
intermediate = intermediate.replace('REPUBLIC ','REPUBLIC\n')
intermediate = intermediate.replace('all\nits ','all its')

In [16]:
print(intermediate)

WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN,!
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all itscitizens